@charset "UTF-8";
header .mwrap .hamburguesa > ul {
  justify-content: center;
  align-items: center;
}

header .mwrap .hamburguesa > ul, header {
  display: flex;
  flex-direction: row;
}

header .mwrap .hamburguesa > ul > li .menu > ul > li, header .mwrap .hamburguesa > ul > li .menu > ul, header .mwrap .hamburguesa > ul > li .menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* funcion que determina el tamaño de la fuente entre s m l xl y xxl*/
/*                                   MARGIN                           */
/*                                               PADDING                                */
/*COMPONENTES PRE DISEñADOS*/
header .mwrap .hamburguesa > ul {
  justify-content: center;
  align-items: center;
}

header .mwrap .hamburguesa > ul, header {
  display: flex;
  flex-direction: row;
}

header .mwrap .hamburguesa > ul > li .menu > ul > li, header .mwrap .hamburguesa > ul > li .menu > ul, header .mwrap .hamburguesa > ul > li .menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* funcion que determina el tamaño de la fuente entre s m l xl y xxl*/
/*                                   MARGIN                           */
/*                                               PADDING                                */
.btn {
  font-size: 18px;
  display: flex;
  text-align: center;
  padding: 0.5rem 1.5rem;
  transition: all 0.7s ease;
}

/*color fondo*/
/*
PARAMETROS:
$bcolor Determina el color del background de la hamburgesa 
$fcolor Color de la hamburguesa
$bMnu Borde del menu y background del submenu
$direccion hacia donde sale la rama del submenu (r) para derecha otra cosa para izquierda
$borderTk Grosor del borde del menu 
$ancho ancho del menu (a es automatico)
$pyItem Padding vertical de los items
$pxitem Padding Horizontal de los items
$marginItem Margen global de los items
$fontsize Tamaño de la letra


HTML MENU HAMBURGUESA
<div class="menu-wrap">
            <input type="checkbox" class="toggler">
            <div class="hamburger">
                <div></div>
            </div>
            <div class="menu">
                <div>
                    <div>
                        <ul>

                            <li class="  clase_de_boton"><a href="#">About</a></li>
                            <li class="  clase_de_boton"><a href="#">Services</a></li>
                            <li class="  clase_de_boton"><a href="#">Contact</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>




*/
/*
PARAMETROS:
$name Determina el 2do segmento del nombre del drop_NAME y del .submnu_NAME
$bcolor Determina el color del borde del submenu
$fcolor Font Color
$bMnu Color de fondo del submenu
$direccion hacia donde sale la rama del submenu l,r,c
$borderTk Grosor del borde
$ancho ancho del submenu (a es automatico)
$pyItem Padding vertical de los items
$pxitem Padding Horizontal de los items
$marginItem Margen global de los items
$fontsize Tamaño de fuente segun las habilitadas en variables s,m,l,xl,xxl
html para el drop configurable

                            <li class="btn_naranja drop_home" >
                                <span>otro</span>
                                <input type="checkbox" class="toggler_home" name="menu" id="home">
                                <ul class="submnu_home">  
                                    <li class="btn_sbm">
                                        <a href="#">1</a>
                                    </li>
                                    <li class="btn_sbm">
                                        <a href="#">2</a>
                                    </li>
                                    <li class="btn_sbm">
                                        <a href="#">3</a>

                                    </li>
                                </ul>

                            </li>

*/
/*
html de la tarjeta vertical 

    <div class="container_uno"style="margin:20px;"><div class="pic_uno"><img src="https://placekitten.com/200/300"alt=""></div><div class="txt_uno"><h2>Titulo importante</h2><h3>Algo menos relevante</h3><article>Esse quibusdam cupiditate aliquid iusto quisquam,
    perspiciatis corrupti labore eaque vitae hic,
    alias totam,
    dolores a maxime inventore quod ullam quas suscipit nulla consectetur atque enim ! Recusandae eum earum magni ! </article><a href=""class="btn_card_uno">Continuar</a><p></p></div></div>




*/
@font-face {
  font-family: "Firacode";
  src: url("font\firaCode-VariableFont_wght.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Firacode";
  background-color: #0D0D0D;
}

body {
  background-color: #0D0D0D;
  color: #fff;
}

@keyframes progreso {
  0% {
    background: linear-gradient(to right, #404040, #8d8d8d 100%);
  }
  10% {
    background: linear-gradient(to right, #404040, #8d8d8d 90%);
  }
  20% {
    background: linear-gradient(to right, #404040, #8d8d8d 80%);
  }
  30% {
    background: linear-gradient(to right, #404040, #8d8d8d 70%);
  }
  50% {
    background: linear-gradient(to right, #404040, #8d8d8d 60%);
  }
  400% {
    background: linear-gradient(to right, #404040, #8d8d8d 50%);
  }
  60% {
    background: linear-gradient(to right, #404040, #8d8d8d 40%);
  }
  70% {
    background: linear-gradient(to right, #404040, #8d8d8d 30%);
  }
  80% {
    background: linear-gradient(to right, #404040, #8d8d8d 20%);
  }
  90% {
    background: linear-gradient(to right, #404040, #8d8d8d 10%);
  }
  100% {
    background: linear-gradient(to right, #404040, #8d8d8d 10%);
  }
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.mover {
  opacity: 1 !important;
  transition: all 1s ease;
  transform: translatey(120px);
}

.mnuSel {
  color: #118de1 !important;
  transition: color 0.7s ease;
}
.mnuSel::before {
  content: "{";
  font-size: 16px;
  position: absolute;
  font-weight: bolder;
  transform: translateX(-8px);
  color: #bf7230;
}
.mnuSel::after {
  content: "}";
  font-size: 18px;
  position: absolute;
  color: #bf7230;
  font-weight: bolder;
}

header {
  justify-content: space-between;
  align-items: flex-start;
}
header img {
  justify-content: space-between;
  align-items: flex-start;
  height: 135px;
}
header .mwrap {
  height: 100%;
  align-items: flex-end;
  z-index: 2;
  background-color: #0D0D0D;
  display: flex;
}
header .mwrap .hamburguesa {
  opacity: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  z-index: -3;
}
header .mwrap .hamburguesa:hover > div {
  transition: all 0.7s ease;
  transform: rotate(45deg);
}
header .mwrap .hamburguesa:hover > div::before {
  top: 0;
  transform: rotate(90deg);
}
header .mwrap .hamburguesa:hover > div::after {
  top: 0;
  transform: rotate(90deg);
}
header .mwrap .hamburguesa > div {
  display: none;
  position: relative;
  flex: none;
  width: 100%;
  height: 3px;
  background: #003EAD;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
header .mwrap .hamburguesa > div::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: -10px;
  background-color: #003EAD;
}
header .mwrap .hamburguesa > div::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 10px;
  background-color: #003EAD;
}
header .mwrap .hamburguesa > ul {
  padding: 1rem;
}
header .mwrap .hamburguesa > ul > li {
  position: relative;
  text-align: left;
  color: #fff;
  list-style: none;
  margin: 0 1rem;
  z-index: 2;
}
header .mwrap .hamburguesa > ul > li > a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  width: 100%;
  text-align: left;
}
header .mwrap .hamburguesa > ul > li > a:hover {
  color: #118de1;
  transition: color 0.7s ease;
}
header .mwrap .hamburguesa > ul > li .drop {
  z-index: 4;
}
header .mwrap .hamburguesa > ul > li .drop a {
  z-index: 5;
}
header .mwrap .hamburguesa > ul > li .drop:hover::before {
  content: "{";
  font-size: 16px;
  position: absolute;
  font-weight: bolder;
  transform: translateX(-8px);
  color: #bf7230;
}
header .mwrap .hamburguesa > ul > li .drop:hover::after {
  content: "}";
  font-size: 18px;
  position: absolute;
  color: #bf7230;
  font-weight: bolder;
}
header .mwrap .hamburguesa > ul > li .menu {
  position: absolute;
  opacity: 0;
  top: -100px;
  float: left;
  width: 22vw;
  padding: 0;
  padding-top: 1rem;
  margin: 0;
  z-index: -1;
  transition: all 1s ease;
}
header .mwrap .hamburguesa > ul > li .menu > ul {
  text-align: left;
  align-items: flex-start;
  padding: 0px;
  margin: 0;
  border: rgba(0, 62, 173, 0.7) solid 2px;
  box-shadow: 2px 2px 15px #737373;
}
header .mwrap .hamburguesa > ul > li .menu > ul > li {
  margin: 0;
  background-color: #0D0D0D;
  width: 100%;
  border: rgba(0, 62, 173, 0.2) solid 2px;
  padding: 1rem;
}
header .mwrap .hamburguesa > ul > li .menu > ul > li > a {
  background-color: transparent;
  width: 100%;
}
header .mwrap .hamburguesa > ul > li .menu > ul > li:hover {
  background-color: #404040;
  color: #000;
  transition: color 0.9s ease;
  animation-name: progreso;
  animation-direction: alternate;
  animation-delay: 200ms;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  background-color: #8d8d8d;
  box-shadow: 2px 2px 30px rgba(0, 62, 173, 0.5);
  transition: background-color 0.7s ease;
  font-weight: bold;
}
header .mwrap .hamburguesa > ul > li .menu > ul > li:hover > a {
  color: #731600;
  text-align: center;
  transition: background-color 0.4s ease;
  transition: color 0.9s ease;
  font-weight: bolder;
  transform: scale(1.02);
  filter: saturate(130%);
  filter: blur(0.15);
}
header .mwrap .hamburguesa > ul > li .menu > ul > li:hover > a::before {
  content: " < ";
  font-weight: bolder;
}
header .mwrap .hamburguesa > ul > li .menu > ul > li:hover > a::after {
  content: " > ";
  font-weight: bolder;
}
@media (max-width: 768px) {
  header .mwrap .hamburguesa {
    width: 60px;
    height: 60px;
    border: 2px solid #003EAD;
    box-shadow: 2px 2px 30px #003EAD;
    box-shadow: 2px 2px 10px #003EAD inset;
    justify-content: center;
  }
  header .mwrap .hamburguesa > div {
    display: flex;
    z-index: 5;
  }
  header .mwrap .hamburguesa > ul {
    display: none;
  }
}

.menuPrin {
  position: absolute;
  display: flex !important;
  flex-direction: column !important;
  flex-wrap: nowrap;
  width: 200px;
  top: 62px;
  right: 0px;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid #8C1B00;
  box-shadow: 2px 2px 15px #8C1B00;
  padding: 0 !important;
}
.menuPrin > li {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  border: 2px solid rgba(140, 27, 0, 0.4);
  display: flex;
}
.menuPrin > li > a {
  z-index: 10 !important;
  justify-content: center;
  align-items: center;
  text-align: center !important;
  width: 100%;
}
.menuPrin > li > a > ul {
  z-index: -10;
}

/*# sourceMappingURL=estilos.css.map */
