@import 'variable';
@import 'componentes';

@font-face {
    font-family: "Firacode";
    src: url("font\FiraCode-VariableFont_wght.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Firacode";
    background-color: $fondoPrincipal;
}

body {
    background-color: $fondoPrincipal;
    color: $colorPrimario;
}

@keyframes progreso {
    0% {
        background: linear-gradient(to right, lighten($fondoPrincipal, 20%), lighten($fondoPrincipal, 50%) 100%);
    }

    10% {
        background: linear-gradient(to right, lighten($fondoPrincipal, 20%), lighten($fondoPrincipal, 50%) 90%);
    }

    20% {
        background: linear-gradient(to right, lighten($fondoPrincipal, 20%), lighten($fondoPrincipal, 50%) 80%);

    }

    30% {
        background: linear-gradient(to right, lighten($fondoPrincipal, 20%), lighten($fondoPrincipal, 50%) 70%);

    }

    50% {
        background: linear-gradient(to right, lighten($fondoPrincipal, 20%), lighten($fondoPrincipal, 50%) 60%);

    }

    400% {
        background: linear-gradient(to right, lighten($fondoPrincipal, 20%), lighten($fondoPrincipal, 50%) 50%);

    }

    60% {
        background: linear-gradient(to right, lighten($fondoPrincipal, 20%), lighten($fondoPrincipal, 50%) 40%);

    }

    70% {
        background: linear-gradient(to right, lighten($fondoPrincipal, 20%), lighten($fondoPrincipal, 50%) 30%);

    }

    80% {
        background: linear-gradient(to right, lighten($fondoPrincipal, 20%), lighten($fondoPrincipal, 50%) 20%);

    }

    90% {
        background: linear-gradient(to right, lighten($fondoPrincipal, 20%), lighten($fondoPrincipal, 50%) 10%);

    }

    ;

    100% {
        background: linear-gradient(to right, lighten($fondoPrincipal, 20%), lighten($fondoPrincipal, 50%) 10%);
    }

    ;



}

@keyframes aparecer {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.mover {
    opacity: 1 !important;
    display: flex !important;
    transition: all 1s ease;
    transform: translatey(120px);
}

.mnuSel {

    color: darken($colorTerciario, 5%) !important;
    transition: color 0.7s ease;


    &::before {
        content: '{';
        font-size: size(s);
        position: absolute;
        font-weight: bolder;
        transform: translateX(-8px);
        color: darken($colorAcento2, 5%);
    }

    &::after {
        content: '}';
        font-size: size(m);
        position: absolute;
        color: darken($colorAcento2, 5%);
        font-weight: bolder;
    }

}



header {
    @extend %fxrow;
    justify-content: space-between;
    align-items: flex-start;

    img {
        justify-content: space-between;
        align-items: flex-start;
        height: 135px;
    }



    .mwrap {
        height: 100%;
        align-items: flex-end;
        z-index: 2;
        background-color: $fondoPrincipal;
        display: flex;

        .hamburguesa {
            opacity: 1;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0.8rem;
            z-index: -3;

            &:hover>div {
                transition: all 0.7s ease;
                transform: rotate(45deg);
            }

            &:hover>div::before {
                top: 0;
                transform: rotate(90deg);
            }

            &:hover>div::after {
                top: 0;
                transform: rotate(90deg);
            }

            >div {
                display: none;
                position: relative;
                flex: none;
                width: 100%;
                height: 3px;
                background: $colorSecundario;
                align-items: center;
                justify-content: center;
                transition: all $tiempoCorto ease;


            }

            >div::before {
                content: '';
                position: absolute;
                height: 3px;
                width: 100%;
                justify-content: center;
                align-items: center;
                text-align: center;
                top: -10px;
                background-color: $colorSecundario;



            }

            >div::after {
                content: '';
                position: absolute;
                height: 3px;
                width: 100%;
                justify-content: center;
                align-items: center;
                text-align: center;
                top: 10px;
                background-color: $colorSecundario;



            }




            >ul {
                @extend %fxrow;
                @extend %centroabs;
                padding: 1rem;

                >li {
                    position: relative;
                    text-align: left;
                    color: $colorPrimario;
                    list-style: none;
                    margin: 0 1rem;
                    z-index: 2;

                    >a {
                        text-decoration: none;
                        font-size: size(m);
                        color: $colorPrimario;
                        width: 100%;
                        text-align: left;
                        z-index: 5;

                        &:hover {
                            color: darken($colorTerciario, 5%);
                            transition: color 0.7s ease;
                        }


                    }

                    .drop {
                        z-index: 4;

                        a {
                            z-index: 5;
                        }
                    }

                    .drop:hover::before {
                        content: '{';
                        font-size: size(s);
                        position: absolute;
                        font-weight: bolder;
                        transform: translateX(-8px);
                        color: darken($colorAcento2, 5%);

                    }

                    .drop:hover::after {
                        content: '}';
                        font-size: size(m);
                        position: absolute;
                        color: darken($colorAcento2, 5%);
                        font-weight: bolder;

                    }

                    .menu {
                        @extend %fxcol;
                        position: absolute;
                        opacity: 0;
                        top: -100px;
                        float: left;
                        width: 22vw;
                        min-width: 250px;
                        padding: 0;
                        padding-top: 1rem;
                        margin: 0;
                        z-index: -1;
                        transition: all 1s ease;

                        >ul {
                            @extend %fxcol;
                            text-align: left;
                            align-items: flex-start;
                            padding: 00px;
                            margin: 0;
                            border: transparentize($colorSecundario, 0.3) solid 2px;
                            box-shadow: 2px 2px 15px lighten($fondoPrincipal, 40%);


                            >li {
                                @extend %fxcol;

                                margin: 0;
                                background-color: $fondoPrincipal;
                                width: 100%;
                                border: transparentize($colorSecundario, 0.8) solid 2px;
                                padding: 1rem;



                                >a {
                                    color: darken($colorPrimario, 35%);

                                    background-color: transparent;
                                    width: 100%;
                                    text-decoration: dotted;



                                }

                                &:hover {
                                    background-color: lighten($fondoPrincipal, 20%);

                                    color: #000;
                                    transition: color 0.9s ease;
                                    animation-name: progreso;
                                    animation-direction: alternate;
                                    animation-delay: 200ms;
                                    animation-duration: 0.8s;
                                    animation-iteration-count: 1;
                                    background-color: lighten($fondoPrincipal, 50%);
                                    box-shadow: 2px 2px 30px transparentize($colorSecundario, 0.5);
                                    transition: background-color 0.7s ease;

                                    font-weight: bold;
                                }

                                &:hover>a {
                                    color: darken($colorAcentos, 5%);
                                    text-align: center;

                                    transition: background-color 0.4s ease;
                                    transition: color 0.9s ease;
                                    font-weight: bolder;
                                    transform: scale(1.02);
                                    filter: saturate(130%);
                                    filter: blur(0.15);


                                }

                                &:hover>a::before {
                                    content: ' <';
                                    font-weight: bolder;
                                }

                                &:hover>a::after {
                                    content: '> ';
                                    font-weight: bolder;
                                }

                            }
                        }
                    }
                }
            }
        }

        @include s {
            .hamburguesa {
                width: 60px;
                height: 60px;
                border: 2px solid $colorSecundario;
                box-shadow: 2px 2px 30px $colorSecundario;
                box-shadow: 2px 2px 10px $colorSecundario inset;
                justify-content: center;

                >ul>li {
                    display: flex;
                    flex-direction: column;
                }

                .menuPrin {
                    min-width: 250px;
                }

                >ul>li .menu {
                    display: none;
                    min-width: 250px;
                    position: relative !important;


                }

                >ul>li .mover {
                    width: 100%;
                    box-shadow: none;
                    border: none;
                    min-width: 0;

                    >ul {
                        border: none !important;
                        box-shadow: none;


                        >li {
                            border: none;

                            border-top: 2px solid transparentize($colorAcentos, 0.6);

                            >a {
                                font-size: 16px;

                                &:hover {
                                    font-size: 16px;
                                    padding: 0;
                                    margin: 0;
                                }
                            }
                        }
                    }
                }

                >div {
                    display: flex;
                    z-index: 5;
                }

                >ul {
                    display: none;
                }
            }
        }
    }
}

.menuPrin {
    position: absolute;
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: nowrap;
    width: 200px;
    top: 62px;
    right: 0px;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid $colorAcentos;
    box-shadow: 2px 2px 15px $colorAcentos;
    padding: 0 !important;

    >li {
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 100%;
        border: 2px solid transparentize($colorAcentos, 0.6);
        display: flex;



        >a {
            z-index: 10 !important;

            justify-content: center;
            align-items: center;
            text-align: center !important;
            width: 100%;

            >ul {
                z-index: -10;
            }
        }
    }
}