@import 'variable';
@import 'componentes';

@font-face {
    font-family: "Firacode";
    src: url("font\FiraCode-VariableFont_wght.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Firacode";
    background-color: $fondoPrincipal;
}

body {
    background-color: $fondoPrincipal;
    color: $colorPrimario;
}

@keyframes progreso {
    0% {
        background: linear-gradient(to right, lighten($fondoPrincipal, 20%), lighten($fondoPrincipal, 50%) 100%);
    }

    10% {
        background: linear-gradient(to right, lighten($fondoPrincipal, 20%), lighten($fondoPrincipal, 50%) 90%);
    }

    20% {
        background: linear-gradient(to right, lighten($fondoPrincipal, 20%), lighten($fondoPrincipal, 50%) 80%);

    }

    30% {
        background: linear-gradient(to right, lighten($fondoPrincipal, 20%), lighten($fondoPrincipal, 50%) 70%);

    }

    50% {
        background: linear-gradient(to right, lighten($fondoPrincipal, 20%), lighten($fondoPrincipal, 50%) 60%);

    }

    400% {
        background: linear-gradient(to right, lighten($fondoPrincipal, 20%), lighten($fondoPrincipal, 50%) 50%);

    }

    60% {
        background: linear-gradient(to right, lighten($fondoPrincipal, 20%), lighten($fondoPrincipal, 50%) 40%);

    }

    70% {
        background: linear-gradient(to right, lighten($fondoPrincipal, 20%), lighten($fondoPrincipal, 50%) 30%);

    }

    80% {
        background: linear-gradient(to right, lighten($fondoPrincipal, 20%), lighten($fondoPrincipal, 50%) 20%);

    }

    90% {
        background: linear-gradient(to right, lighten($fondoPrincipal, 20%), lighten($fondoPrincipal, 50%) 10%);

    }

    ;

    100% {
        background: linear-gradient(to right, lighten($fondoPrincipal, 20%), lighten($fondoPrincipal, 50%) 10%);
    }

    ;



}

@keyframes aparecer {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}


header {
    @extend %fxrow;
    justify-content: space-between;
    align-items: flex-start;

    img {
        justify-content: space-between;
        align-items: flex-start;
        height: 135px;
    }

    .mwrap {
        height: 100%;
        align-items: flex-end;
        z-index: 2;
        background-color: $fondoPrincipal;

        ul {
            @extend %fxrow;
            @extend %centroabs;
            padding: 1rem;

            li {
                position: relative;
                text-align: left;
                color: $colorPrimario;
                list-style: none;
                margin: 0 1rem;
                z-index: 2;

                a {
                    text-decoration: none;
                    font-size: size(m);
                    color: $colorPrimario;
                    width: 100%;
                    text-align: left;

                    &:hover {
                        color: darken($colorTerciario, 5%);
                        transition: color 0.7s ease;
                    }


                }

                .drop {
                    z-index: 4;

                    a {
                        z-index: 5;
                    }
                }

                .drop:hover::before {
                    content: '{';
                    font-size: size(s);
                    position: absolute;
                    font-weight: bolder;
                    transform: translateX(-8px);
                    color: darken($colorAcento2, 5%);

                }

                .drop:hover::after {
                    content: '}';
                    font-size: size(m);
                    position: absolute;
                    color: darken($colorAcento2, 5%);
                    font-weight: bolder;

                }

                .menu {
                    @extend %fxcol;
                    position: absolute;
                    opacity: 0;
                    float: left;
                    width: 20vw;
                    padding: 0;
                    padding-top: 1rem;
                    margin: 0;
                    z-index: -1;

                    ul {
                        @extend %fxcol;
                        text-align: left;
                        align-items: flex-start;
                        padding: 00px;
                        margin: 0;
                        border: transparentize($colorAcentos, 0.3) solid 2px;
                        box-shadow: 2px 2px 15px lighten($fondoPrincipal, 40%);


                        li {
                            @extend %fxcol;

                            margin: 0;
                            background-color: $fondoPrincipal;
                            width: 100%;
                            border: transparentize($colorAcento2, 0.8) solid 2px;
                            padding: 1rem;



                            a {
                                background-color: transparent;
                                width: 100%;



                            }

                            &:hover {
                                background-color: lighten($fondoPrincipal, 20%);

                                color: #000;
                                transition: color 0.9s ease;
                                animation-name: progreso;
                                animation-direction: alternate;
                                animation-delay: 200ms;
                                animation-duration: 0.8s;
                                animation-iteration-count: 1;
                                background-color: lighten($fondoPrincipal, 50%);
                                box-shadow: 2px 2px 30px transparentize($colorSecundario, 0.5);
                                transition: background-color 0.7s ease;

                                font-weight: bold;
                            }

                            &:hover a {
                                color: darken($colorAcentos, 5%);


                                transition: background-color 0.4s ease;
                                transition: color 0.9s ease;
                                font-weight: bolder;
                                transform: scale(1.02);
                                filter: saturate(130%);
                                filter: blur(0.15);


                            }
                        }
                    }
                }
            }
        }
    }
}